.wrapper__side-bar
  .side-bar__user-name
    .user-name__box
      .box__name
        = current_user.name
      .box__icon
      = link_to do
        = icon('far', 'edit', class: 'icon1_btn')
      = link_to edit_user_path(current_user) do
        = icon('fas', 'cog')
  .side-bar__group-list
    .group-list__group1
      .group1-name
        techcamp
      .group1-latestmessage
        まだメッセージがありません
    
    .group-list__group2
      .group2-name
        techcamp2
      .group2-latestmessage
        まだメッセージがありません